html {
	-webkit-text-size-adjust: 100%;
	font: 100%/1.55 Poppins,sans-serif;
	box-sizing: border-box;
	overflow-y: scroll;
}

@media (prefers-color-scheme: light) {
	body {
		--color-bg: #fff;
		--color-bg-primary: #0a0012;
		--color-bg-secondary: #f5f9fb;
		--color-bg-almost-primary: hsla(0,0%,100%,0.75);
		--color-bg-light: #fff;
		--color-bg-hover: #fff;
		--color-bg-shadow: #f5f9fb;
		--color-bg-light-bar: rgba(217,231,239,0.25);
		--color-bg-shadow-heavy: rgba(60,72,86,0.45);
		--color-text-primary: #3c4856;
		--color-text-secondary: rgba(60,72,86,0.76);
		--color-text-content: #3c4856;
		--color-text-contrast: #fff;
		--color-text-solid: #000;
		--color-text-gradient-from: #e3eef4;
		--color-text-gradient-to: rgba(227,238,244,0.1);
		--color-border-light: rgba(59,72,86,0.09);
		--color-border-heavy: rgba(59,72,86,0.4);
		--color-text-inline-code: #3c4856;
		--color-bg-inline-code: #f5f9fb;
		--color-link-primary: #6b46c1;
	}
}

section.header {
	backdrop-filter: blur(1rem);
	background: var(--color-bg-almost-primary);
}

nav {
	grid-area: nav;
	transition: all .5s ease;
}

h2 {
	color: inherit;
	font-family: Recoleta, sans-serif;
	font-weight: 700;
	text-rendering: optimizeLegibility;
	font-size: 2.07474rem;
	padding: 0;
	margin: 0 0 1.1625rem;
}

li.list-item {
	padding: 0 .3875rem;
}

a.list-item-link {
	-webkit-text-decoration: none;
	text-decoration: none;
	border-top: 2px solid transparent;
	color: var(--color-text-primary);
	display: flex;
	align-items: center;
	padding: 1.325rem 1.55rem;
}

a.list-item-link.active {
	border-top: 2px solid #da3654;
	color: #da3654;
}

a.list-item-link:hover {
	color: #da3654;
}

section.about .container{
	background-color: var(--color-bg-secondary);
	padding: 3.1rem 8vw;
}

section header {
	max-width: 43.4rem;
	margin: 0 auto;
}

@media (min-width: 768px) {
	section .container{
		padding: 4.65rem 4vw;
		border-radius: 16px;
	}
}

section header h3 {
	text-transform: uppercase;
	-webkit-letter-spacing: .125rem;
	-moz-letter-spacing: .125rem;
	-ms-letter-spacing: .125rem;
	letter-spacing: .125rem;
	font-family: Poppins,Helvetica,sans-serif;
	font-size: .625rem;
	font-weight: 700;
	margin-bottom: 1.55rem;
	color: var(--color-text-secondary);
}

@media (min-width: 768px) {
	section header h3 {
    font-size: .875rem;
    margin-bottom: 2.325rem;
    -webkit-letter-spacing: .1875rem;
    -moz-letter-spacing: .1875rem;
    -ms-letter-spacing: .1875rem;
    letter-spacing: .1875rem;
	}
}

a.inner-link {
	color: var(--color-link-primary);
}

.map-container {
	height: 370px;
	overflow: hidden;
}

.map-container img {
	filter: grayscale(1);
}

h1.letter-spacing {
	letter-spacing: .175rem;
}